<div class="container">
    <div class="row">
        <div class="colm1 d-flex">
            <div class="bg-dark">

            </div>

        </div>
        <div class="colm2">
            <div class="d-flex ">
                <h2 style="font-family: cursive;">Appliances <span>1525 Products</span></h2>
                <select>
                    <option disabled selected>Sort By:</option>
                    <option>Popular</option>
                </select>
            </div>

            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChef</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>







            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>







            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>







            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>







            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>







            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>







            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>







            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>







            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>







            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h6c/h33/16128384466974/FA098963153543_RED.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/heb/h43/31454965071902/A23SHIMME918583_DARK_PINK.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h9d/h52/26389667577886/A21WonderChef2PKSTDNM_DENIM.jpg_230Wx334H"/>
                    <h4>Ivary</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h44/hab/29324498993182/S23BED120007_MULTI.jpg_230Wx334H"/>
                    <h4>WonderChefl</h4>
                    <p>Stainless Steel CookWare</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>

            </div>

        </div>

    </div>
</div>