<div class="container">
    <div class="row">
        <div class="colm1 d-flex">
            <div class="bg-dark">

            </div>

        </div>
        <div class="colm2">
            <div class="d-flex ">
                <h2>Bedding <span>9075 Products</span></h2>
                <select>
                    <option disabled selected>Sort By:</option>
                    <option>Popular</option>
                </select>
            </div>

            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>







            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>







            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>







            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>







            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>







            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>







            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>







            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>







            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>







            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h94/hc6/29324463570974/S23BED120013_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/heb/h43/31454965071902/A23SHIMME918583_DARK_PINK.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
            </div>
            <div class="cards d-flex">
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h9d/h52/26389667577886/A21IVY2PKSTDNM_DENIM.jpg_230Wx334H"/>
                    <h4>Ivary</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>
                <div class="cd">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h44/hab/29324498993182/S23BED120007_MULTI.jpg_230Wx334H"/>
                    <h4>HomeStop</h4>
                    <p>Summer bloosem double betsheet</p>
                    <span class="text-dark">₹ 899</span><span><del>₹ 1799</del></span><span class="text-danger">50% OFF</span>
                </div>

            </div>

        </div>

    </div>
</div>
<div class="colm3 d-flex container-fluid">
    <div>
        <i class="fa-solid fa-award ic"></i>
        <h6>Authentic Products</h6>

    </div>
    <div>
        <i class="fa-solid fa-store ic"></i>
        <h6>Express Store Picup</h6>
    </div>
    <div>
        <i class="fa-solid fa-shield-halved ic"></i>
        <h6>Secure Payment</h6>
    </div>
    <div>
        <i class="fa-solid fa-arrow-right-arrow-left ic"></i>
        <h6>Easy Return And Exchange</h6>
    </div>
    <div>
        <select style="width: 400px; margin-top: 70px; height: 40px;">
            <option>Brands</option>
        </select>
    </div>

</div>
