.cont1 div {
    color: white;
}
.cont1 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.navi {
    width: 100%;
}
.navi {
    background-color: #2b294a;
    padding: 20px;

}
.navi div>a:hover {
    color: aqua;
}

@media screen and (min-width:400px) and (max-width:778px) {
    .cont1 {
        display: flex;
        flex-direction: column;
    }
}
.navbar div{
    display: flex;
    justify-content: space-around;

}
.ml .nav-link{
    padding-right: 40px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.navbar-brand {
    padding-left: 50px;

}

.navbar-brand:hover {
    transform: scale(1.1);
}
.nav-link:hover {
    transform: scale(1.2);
}
.ml ul {
    margin-left: 400px;
}