<div class="text-center cc mt-5 w-100">
<h1>Contact For Any Query</h1>
</div>
<div class="d-flex justify-content-center cc">
    <form action="">
        <h5>Name <span style="color: red;">*</span></h5>
        <input type="text" class="rounded"> &nbsp; &nbsp; <input type="text" class="ml-5 rounded" >
        <p><span>First</span> <span style="margin-left: 180px;">Last</span></p>
        <h5>Email <span class="text-danger">*</span></h5>
        <input type="email" class="rounded w-100"/>
        <h5>Subject</h5>
        <textarea cols="50" rows="5" class="rounded"></textarea>
        <h5>Message</h5>
        <textarea cols="50" rows="5" class="rounded"></textarea><br>
        <button class="btn btn-info mt-3">Submit</button>
    </form>
</div>