<div class="table" *ngFor="let prod of data">

    <div class="ng d-flex text-center">
        <div>
            <h1>{{prod.name}}</h1>
            <img [src]="prod.image" alt="Image">
            <p>{{prod.difficulty}}</p>
            <p>{{prod.ingredients[1]}}</p>
        </div>
        <div>
            <h1>{{prod.name}}</h1>
            <img [src]="prod.image" alt="Image">
            <p>{{prod.difficulty}}</p>
            <p>{{prod.ingredients[1]}}</p>
        </div>
        <div>
            <h1>{{prod.name}}</h1>
            <img [src]="prod.image" alt="Image">
            <p>{{prod.difficulty}}</p>
            <p>{{prod.ingredients[1]}}</p>
        </div>

    </div>

</div>




<!-- src/app/weather.component.html

<div *ngIf="weatherData">
    <h2>Weather Information</h2>
    <p>Location: {{ weatherData.location }}</p>
    <p>Temperature: {{ weatherData.temperature }}</p>
    <p>Condition: {{ weatherData.condition }}</p>
  </div> -->
