<div class="container-fluid main">
    <div class="roww d-flex">
        <div class="one d-flex flex-column">

            <div class="d-flex name"><i class="fa-solid fa-bars"></i> <h1>SWAPHR</h1></div>

            <div class="d-flex name hh dh"><i class="fa-solid fa-house"></i> <h4>Dashboard</h4></div>
            <div class="d-flex name td hh "><i class="fa-solid fa-list"></i> <h4>To Do</h4></div>
            <div class="d-flex name sl hh "><i class="fa-solid fa-money-bill"></i> <h4>Salary</h4></div>
            <div class="d-flex name ll hh "><i class="fa-solid fa-arrow-right-from-bracket"></i> <h4>Leave</h4></div>
            <div class="d-flex name at hh "><i class="fa-solid fa-user-clock"></i> <h4>Attendance</h4></div>
            <div class="d-flex name cl hh "><i class="fa-solid fa-calendar-days"></i> <h4>Calender</h4></div>
            <div class="d-flex name hd hh "><i class="fa-solid fa-headset"></i><h4>Help Desk</h4></div>
            <div class="d-flex name cl op hh "><i class="fa-solid fa-calendar-days"></i> <h4>Calender</h4></div>

        </div>

        <div class="two">
            <div class="d-flex">
                <!-- <i class="fa-solid fa-magnifying-glass sc"></i> -->
                <span><input type="text" placeholder="search by keyword" class="inp"/></span>
                <i class="fa-solid fa-bell ic "></i>
                <i class="fa-solid fa-power-off ic"></i>

            </div>

            <div class="bg">
                <h6>Good Morning</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam temporibus, enim ad sint quo laudantium, placeat at fuga sapiente labore veniam, ducimus fugit dolorem. Aperiam fugit qui quaerat odio magni!</p>

            </div>
            <div class="d-flex bb">
                <div class="bg-danger br">
                    <h5 class="text-center text-white">Leaves</h5>
                    <div class="cir">
                        <h5 class="nf">95%</h5>
                    </div>

                </div>
                <div class="bg-warning  br">
                    <h5 class="text-center text-white">Leaves</h5>
                    <div class="cir">
                        <h5 class="nf">95%</h5>
                    </div>
                </div>
                <div class="bg-info br">
                    <h5 class="text-center text-white">Leaves</h5>
                    <div class="cir">
                        <h5 class="nf">95%</h5>
                    </div>
                </div>

            </div>

            <!-- ======= -->
            <div class="cds d-flex">
                <div class="d-flex flex-column">
                    <div class="cd1">
                        <h4 class="text-danger">16 March 2024</h4>
                        <p>Saturday | 9.30 AM to 6.30 PM</p>
                        <button class="btn btn-danger text-white text-left">Sign In</button>

                    </div>
                    <div class="cd2">
                        <ul>
                            <h6>Events</h6>
                            <li> Podcast with Senior
                                Associate</li>
                                <li>Fun Friday</li>
                                <li> Holi Event</li>
                        </ul>

                    </div>
                </div>
                <div class="cd3 ">
                    <h4 class="text-primary text-center">Today’s task</h4>
                    <div class="d-flex"><input type="checkbox"/>
                        <p>Design the webpage using 3D animations</p></div>
                        <div class="d-flex"><input type="checkbox"/>
                            <p>Attend the team meet at 2 pm and discuss about the project</p></div>
                            <div class="d-flex"><input type="checkbox"/>
                                <p>Decoding the bugs and fixing them by EOD</p></div>


                </div>

            </div>
        </div>

        <div class="three">
            <div class="d-flex flex-column">
                <div class="rt text-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-uf0TAM45NWEMJR6Zt1-B6VHgGuKpAGas5g&usqp=CAU"/>
                    <h4>Avengers</h4>
                    <p>Web Devloper</p>
                    <button class="btn btn-info">Goto Profile</button>
              </div>
              <div class="d-flex">
                <h6 class="text-left text-left pt-4">Notifcations</h6>
              </div>
              <div class="d-flex flex-column">
                <div class="d-flex cc">
                    <i class="fa-solid fa-user-large"></i>
                    <h6>Lorem, ipsum dolor.</h6>

                </div>
                <div class="d-flex cc">
                    <i class="fa-solid fa-user-large"></i>
                    <h6>Lorem, ipsum dolor.</h6>

                </div>
                <div class="d-flex cc">
                    <i class="fa-solid fa-user-large"></i>
                    <h6>Lorem, ipsum dolor.</h6>

                </div>

              </div>


            </div>

        </div>

    </div>

</div>
<div class="four d-flex">
    <div class="d-flex p-3 ff">
        <div class="d-flex flex-column">
            <h4 class="text-success">Quick Access</h4>
        <ul>
            <li>Reimbursement Payslia</li>
            <li>IT Statemeno</li>
            <li>YTD Reportr</li>
            <li>Loan Stateme</li>
        </ul>
        </div>
    </div>
    <div class="vb">
        <h4>Upcoming Holidays</h4>
       <div class="d-flex">
        <ul>
            <li>25 Mar</li>
            <li>29 Mar</li>
            <li>5 Apr</li>
            <li>9 Apr</li>
        </ul>
        <ul>
            <li>Monday</li>
            <li>Friday</li>
            <li>Fryday</li>
            <li>9 Apr</li>
        </ul>
        <ul>
            <li>25 Mar</li>
            <li>29 Mar</li>
            <li>5 Apr</li>
            <li>9 Apr</li>
        </ul>
       </div>
    </div>
</div>
